<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list class="sidenav-list">
      <a mat-list-item href="#">Link 1</a>
      <a mat-list-item href="#">Link 2</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">
    <mat-toolbar color="primary" (click)="onToggleDrawer(drawer,scene)">
      <img src="assets/logo.svg" style="width: 20px; height: 20px; padding: 10px;" alt="logo">
      <span>showcase3D</span>
    </mat-toolbar>
    <scene-3d #scene color='rgba(30, 30, 30, 1)'>
      <object-3d color='green'></object-3d>
      <object-3d color='black'></object-3d>
      <!-- <object-3d color='white'></object-3d>
      <object-3d color='yellow'></object-3d>
      <object-3d color='cyan'></object-3d>
      <object-3d ></object-3d>
      <object-3d ></object-3d>
      <object-3d ></object-3d>
      <object-3d ></object-3d> -->
    </scene-3d>
  </mat-sidenav-content>
</mat-sidenav-container>
